body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

  @include flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  min-height: 100vh;
}

.content_body {
  width: 100%;
  padding-bottom: 100px;
}

.header-text {
  h2 {
    font-weight: 600;
    font-size: 1.88em;
    line-height: 1.44em;
    color: $inverse-base-color;
  }

  p {
    font-weight: normal;
    font-size: 1.44em;
    line-height: 1.44em;
    color: #B0E5E6;
  }

  b {
    font-weight: 600;
  }

  .start {
    background-color: #F78663;
    width: 190px;
    height: 48px;
    @include flex;
    justify-content: center;
    font-weight: bold;
    font-size: 0.88em;
    color: $inverse-base-color;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      background-color: #FF9966;
      text-decoration: none;
    }
  }

  .btn_block {
    @include flex;
    padding-top: 60px;
  }

  .info {
    @include flex;
    justify-content: flex-end;

    a {
      font-weight: normal;
      font-size: 0.88em;
      color: $inverse-base-color;
      @include flex;
      align-items: center;

      img {
        max-width: 100%;
        height: 15px;
        padding-right: 10px;
        opacity: 0.6;
        transition: 0.3s;
      }

      &:last-child {
        padding-left: 30px;
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
}

.content_center {
  margin-top: -290px;

  h3 {
    color: $header-color;
    line-height: 2.1em;
    font-size: 1.88em;
    font-weight: 800;
  }

  p {
    font-size: 1em;
    font-weight: normal;
    color: $base-color;
    line-height: 1.5em;
    padding-bottom: 28px;
  }

  .list_block {
    background-color: #172533;
    border-radius: 10px;
    max-width: 510px;
    margin-top: 60px;
    float: right;
    width: 100%;

    ul {
      padding: 25px;
      min-height: 375px;
      width: 100%;

      li {
        color: $inverse-base-color;
        font-size: 1em;
        line-height: 1.5em;
        @include flex;
        font-weight: 600;

        &:before {
          content: ">";
          display: block;
          color: #666666;
          margin-right: 10px;
        }
      }
    }

    .header-list {
      background-color: #141E2B;
      border-radius: 10px;
      width: 100%;
      height: 45px;
      @include flex;
      padding: 0 20px;

      span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
        display: block;

        &:nth-child(1) {
          background-color: #D0021B;
        }

        &:nth-child(2) {
          background-color: #F5A623;
        }

        &:nth-child(3) {
          background-color: #7ED321;
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .content_center {
    margin-top: 0;
    padding-top: 30px;

    .list_block {
      width: 100%;
      max-width: 100%;
    }
  }
  .content_body {
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .header-text {
    .btn_block {
      > div {
        margin-bottom: 10px;
      }
    }
  }
  .top_block {
    .img_icons {
      height: 500px;
      position: relative;
    }

    .img_bg {
      position: absolute;
      max-width: 600px;
      margin: 0 auto;
      top: 0;
      transform: translate(-50%, 0);
      left: 50%;
    }
  }
  .left-content {
    padding: 0 10px;
  }
  .content_center {
    .text {
      padding: 10px 50px;
    }
  }
  .top_block {
    .header-text {
      .start {
        margin: 0 auto 50px;
      }

      h2 {
        font-weight: 600;
        font-size: 2.5em;
      }

      .info {
        justify-content: center;
        margin-bottom: 10px;
      }

      .btn_block {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 400px) {
  .top_block {
    .img_bg {
      position: absolute;
      max-width: 480px;
    }

    .img_icons {
      height: 410px;
    }
  }
}
